* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  text-align: center;
}

body {
  background-color: #456990;
}

.banner {
  width: calc(100% - 250px); /* Adjusts for sidebar width */
  background-color: #05204a;
  height: 210px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;

  /* Center banner text */
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner-text {
  font-size: 5em;
  color: whitesmoke;
}

.main-container {
  display: flex;
  justify-content: space-between;
  padding-top: 250px; /* Space below the banner */
  max-width: 100vw;
}

.content {
  flex: 1;
  max-width: calc(100% - 250px); /* Occupies remaining space, minus sidebar */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #05204a;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 100px;
  padding-bottom: 20px; /* Space from the bottom */
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  justify-content: space-between; /* Distributes space, pushing footer down */
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto; /* Pushes the footer to the bottom */
}

.sidebar-top-divider {
    width: 80%;
    border: 0;
    border-top: 1px solid whitesmoke;
    margin: 10px 0; /* Adds spacing above and below */
  }

.sidebar-divider {
  width: 150%;
  border: 0;
  border-top: 1px solid whitesmoke;
  margin: 10px 0; /* Adds spacing above and below */
}

.connect-text {
  font-size: 1em;
  color: whitesmoke;
  margin-bottom: 10px; /* Space between the text and social icons */
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: whitesmoke; /* Icon color */
  font-size: 1.5em; /* Icon size */
  text-decoration: none;
}

.social-icons a:hover {
  color: #0072b1; /* Change color on hover, for example LinkedIn blue */
}

.avatar {
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50%;
  object-fit: cover; /* Ensures the image fills the circle without distortion */
  margin-bottom: 10px;
  position: relative;
  top: -80px;
  z-index: 15;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  position: relative;
  top: -65px;
  z-index: 15;
  margin-bottom: -40px;
}

nav {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

nav a {
  margin: 10px 0;
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

nav a:hover {
  text-decoration: underline;
}

.section-content {
  width: 100%;
}

section {
  margin-bottom: 40px;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-top: 20px;
  color: #dae3e5;
}

.section-content h2 {
  visibility: hidden; /* Makes the h2 invisible */
  height: 0;
  margin: 0;
  padding: 0;
}
